<div style="padding: 1rem;">
  <div style="display: flex; align-content: center; justify-content: center; padding-bottom: .5rem; width: 100%">
    <h1>
      Dashboard
    </h1>
  </div>
  
  <div style="display: grid; grid-template-columns: auto auto auto; grid-gap: 2rem; height: 10rem; padding-bottom: 1rem">
    <div style="grid-column: 1 / span 1; text-align: center; height: 100%; box-shadow: 0rem 0rem .7rem #2A2E32">
      <h3>
        Requested Products
      </h3>
      <h3>
        <%= @requested_products %>
      </h3>
    </div>
    <div style="grid-column: 2 / span 1; text-align: center; height: 100%; box-shadow: 0rem 0rem .7rem #2A2E32">
      <h3>
        Loaded Products
      </h3>
      <h3>
        <%= @created_products %>
      </h3>
    </div>
    <div style="grid-column: 3 / span 1; text-align: center; height: 100%; box-shadow: 0rem 0rem .7rem #2A2E32">
      <h3>
        Rejected Products
      </h3>
      <h3>
        <%= @rejected_products %>
      </h3>
    </div>
  </div>
  
  <div style="display: grid; grid-template-columns: auto; grid-gap: 2rem; height: 10rem;">
    <div style="grid-column: 1 / span 1; text-align: center; height: 100%; box-shadow: 0rem 0rem .7rem #2A2E32; padding-bottom: 1rem">
      <h3>
        Importation Status
      </h3>
      <div style="display: grid; grid-template-columns: auto auto auto auto auto; grid-gap: 2rem;">
        <% @importations.each do |i| %>
          <div style="grid-column: 1 / span 1; text-align: center; height: 100%;">
            <b>
              Id
            </b>
            <%= i.id %>
          </div>
          <div style="grid-column: 2 / span 1; text-align: center; height: 100%;">
            <b>
              Total Products
            </b>
            <%= i.total_products %>
          </div>
          <div style="grid-column: 3 / span 1; text-align: center; height: 100%;">
            <b>
              Total Success
            </b>
            <%= i.total_success %>
          </div>
          <div style="grid-column: 4 / span 1; text-align: center; height: 100%;">
            <b>
              Total Error
            </b>
            <%= i.total_error %>
          </div>
          <div style="grid-column: 5 / span 1; text-align: center; height: 100%;">
            <b>
              Status
            </b>
            <%= i.status %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
