<div style="padding: 1rem;">
  <div style="display: flex; align-content: center; justify-content: center; padding-bottom: .5rem; width: 100%">
    <div style="width: 100%">
      <span>
        <%= link_to 'Back', root_path %>
      </span>
      <h1 style="text-align: center">
        Products
      </h1>
    </div>
  </div>
  
  <div style="display: flex; justify-content: center; text-align: center; padding-top: .5rem">
    <table style="width: 90%;">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |p| %>
          <tr>
            <td>
              <%= p.name %>
            </td>
            <td>
              <%= p.description %>
            </td>
            <td>
              <%= link_to 'details', p %>
            </td>
          <tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
