<div style="padding: 1rem">
  <div style="display: flex; align-content: center; justify-content: center; padding-bottom: .5rem; width: 100%">
    <div style="width: 100%">
      <span>
        <%= link_to 'Back', products_path %>
      </span>
      <h1 style="text-align: center">
        <%= @product.name %>
      </h1>
    </div>
  </div>

  <div style="display: flex; justify-content: center; text-align: justify; padding-top: .5rem; padding-bottom: .5rem">
    <p>
      <%= @product.description %>
    </p>
  </div>

  <div style="display: flex; justify-content: center; text-align: center; padding-top: .5rem">
    <table style="width: 90%;">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Description
          </th>
        </tr>
      </thead>
      <tbody>
        <% @product.variants.each do |v| %>
          <tr>
            <td>
              <%= v.name %>
            </td>
            <td>
              <%= v.price %>
            </td>
          <tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>